{{- $chassis := "unknown" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassis = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{-   if eq $chassis "vm" }}
{{-     if contains "/" (output "command" "-v" "sway" "||" ":") }}
{{-       $chassis = "desktop" }}
{{-     else }}
{{-       $chassis = "server" }}
{{-     end }}
{{-   end }}
{{- end }}

[data]
chassis = {{ $chassis | quote }}
