{{- $chassis := "unknown" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassis = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- end }}
{{- $sway := false }}
{{- if contains "/" (output "command" "-v" "sway" "||" ":") }}
{{-   $sway = true }}
{{- end }}

[data]
chassis = {{ $chassis | quote }}
sway = {{ $sway }}
